//base
@import './base/variables';
@import './base/maps';

//componentes
@import './componentes/menu';
@import './componentes/parallax';
@import './componentes/productos';
@import './componentes/footer';

//estilo SASS

*{
    padding: 0px;
    margin: 0px;
}
body{
    overflow-x: hidden;
    width: 100%;
}
ol{
    list-style: none;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: $negro;
    &:hover{
        animation: subrayado 4s;
    }
    @keyframes subrayado {
        0%{
            text-decoration: underline;
        }
    }
}
header{
    height: 250px;
}
.titulo{
    font-family: map-get($titulo , fuente);
    font-weight: map-get($titulo, grosor);
}
.texto{
    font-family: $font-texto;
    @media screen and (max-width: 575px) {
        font-family: $font-texto;
        font-size: 15px;
    }
}
.pie{
    text-align: left;
    font-family: $font-texto;
}

//intro
.font-naranjo{
    font-weight: map-get($titulos-naranjo, grosor);
    text-align: map-get($titulos-naranjo, alineacion);
    font-size: map-get($titulos-naranjo, tamaño);
    font-family: map-get($titulos-naranjo, fuente );
    @media screen and (max-width: 575px) {
        font-weight: map-get($titulos-naranjo, grosor );
        text-align: map-get($titulos-naranjo, alineacion);
        font-size: 70px;
        font-family: map-get($titulos-naranjo, fuente);    
    } 
}
.intro{
    text-align: center;
    font-style: italic;
    font-family: $font-texto;
}
.vs{
    width: 550px;
    height: 550px;
    @media screen and (max-width: 575px) {
        width: 200px;
        height: 200px; 
    }
    @media screen and (max-width: 768px) {
        width: 200px;
        height: 200px; 
    }
} 
.equipo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    margin-top: 15px;
}
.texto-centro{
    font-family: $font-texto;
    text-align: center;
    padding: 15px;
    @media screen and (max-width: 575px) {
        display: none;
    }
    @media screen and (max-width: 768px) {
        display: none;
    }  
}
.jus{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}
.carta-productos{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}   

//equipo
.nombre{
    font-family: $font-texto;
    font-style: italic;
}
.nosotras-img{
    width: 250;
    height: 360px;
    border-radius: 15px;
}
.contenedor-equipo{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
}
.card{
    align-items: center;
    border: 1px solid $borde;
    margin: 15px;
    align-content: center;
}
@media screen and (min-width: 768px) {
    .card-equipo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    }
}
.flex-item-equipo{
    width: 350px;
    height: 500px;
    flex-shrink: 1;
    align-content: center;
    margin: 5px;
    align-items: center;
 }
@media screen and (max-width: 575px) {
    .equipo-oculto{
        display: none;
    }
@media screen and (max-width: 768px) {
    .equipo-oculto{
        display: none;
    }
}

//sobre nosotras
.separacion{
    margin-top: 70px;
}  

//contacto
.texto-contacto{
    font-family: $font-texto;
    text-align: center;
    font-weight: 600;
}
.flex-contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.grid-contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto
}}