
//titulosprincipales
$titulos-naranjo: (
    grosor: 1000,
    alineacion: center,
    tamaño: 95px,
    fuente: "Montserrat",
);
//otros
$titulo:(
    fuente:"Montserrat",
    grosor: 500,
);
//parallax
$titlo-prllx:(
    alineacion: center,
    fuente: "Montserrat",
    grosor: 500px,
    color: white,
);
$texto-prllx: (
    fuente:"Montserrat",
    color: white,
    alineacion: center,
);