footer h2{
    font-family: $font-texto;
    font-weight: 700;
    text-align: center;
}
footer{
    background:-webkit-linear-gradient(232deg, rgb(248, 169, 95) 0%, rgba(255, 181, 128, 1) 50%, rgb(245, 191, 155) 100%);
    border: 3px solid $blanco;
    border-radius: 15px;
    color: $blanco;
    margin-top: 25px;
    width: 100%;
    height: 100%;
}
footer nav{
    margin: 10px;
}
footer p{
    margin: 10px;
}
footer nav div{
    display: inline;
}

.wp{
    position: fixed;
    bottom: 5%;
    left: 95%;
    color: $negro;
    z-index: 20;
    @media screen and (max-width: 575px) {
        display: none;
    }
    @media screen and (max-width: 768px) {
        display: none;
    }
}
@media screen and (min-width: 786px) {
    .wpno{
      display: none;
    }
  }
@media screen and (max-width: 768px) {
    .call{
        display: none;
    }
}
//contacto
.texto-contacto{
    font-family: $font-texto;
    text-align: center;
    font-weight: 600;
}
.flex-contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.grid-contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto
}
.mapa{
    @media screen and (max-width: 575px) {
        height: 250px;
        width: 300px;
    }
}
.font-naranjo{
    @media screen and (max-width: 575px) {
        font-weight: map-get($titulos-naranjo, grosor );
        text-align: map-get($titulos-naranjo, alineacion);
        font-size: 70px;
        font-family: map-get($titulos-naranjo, fuente);    
    } 
}