.font-naranjo{
    font-weight: map-get($titulos-naranjo, grosor);
    text-align: map-get($titulos-naranjo, alineacion);
    font-size: map-get($titulos-naranjo, tamaño);
    font-family: map-get($titulos-naranjo, fuente );
    @media screen and (max-width: 575px) {
        font-weight: map-get($titulos-naranjo, grosor );
        text-align: map-get($titulos-naranjo, alineacion);
        font-size: 70px;
        font-family: map-get($titulos-naranjo, fuente);    
    } 
}
.intro{
    text-align: center;
    font-style: italic;
    font-family: $font-texto;
}
.vs{
    width: 550px;
    height: 550px;
    @media screen and (max-width: 575px) {
        width: 200px;
        height: 200px; 
    }
    @media screen and (max-width: 768px) {
        width: 200px;
        height: 200px; 
    }
} 
.equipo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    margin-top: 15px;
}
.texto-centro{
    font-family: $font-texto;
    text-align: center;
    padding: 15px;
    @media screen and (max-width: 575px) {
        display: none;
    }
    @media screen and (max-width: 768px) {
        display: none;
    }  
}
.jus{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}
.carta-productos{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}   
.natural-artificial{
    display: flex;
    flex-wrap: wrap;
}
.flex-sh{
    flex-shrink: 1;
}